body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2D3748;
  background: #F9FAFC;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 110%;
  margin-top: 0;
}

  .home h2 {
    text-align: right;
    color: #718096;
  }

  h2.hello {
    margin-top: 8px;
  }

    @media (max-width: 640px) {
      .home h2.hello {
        margin-top: 1em;
      }
    }

.work h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  margin: 32px 0 16px;
}

a {
  border-bottom: 1px solid rgba(68,68,68,.2);
}

a:link {
  text-decoration: none;
  color: #1585D7;
}

a:hover {
  color: #04538D;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  font-size: 1.5em;
  color: #59616e;
}

li {
  margin-bottom: .5rem;
}

figure {
  margin: 2em 0;
}

figcaption {
  font-size: 14px;
  text-align: center;
  color: #737a85
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 32px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 1px 1px hsla(0,0%,0%,.2);
}

nav .home {
  font-weight: 500;
  margin: 0;
}

nav .home a {
  text-decoration: none;
  color: #2D3748;
  border: none;
}

strong.secondary-color {
  font-weight: normal;
}

.gray-700 {
  color: #4C668D;
}

.secondary-color {
  color: #F2723B;
}

.home .container {
  margin-top: 6em;
}

@media (max-width: 640px) {
  .home .container {
    margin-top: 0;
  }
}

.home h1 {
  /* margin: 128px 0 32px; */
}

@media (max-width: 640px) {
  .home h1 {
    margin-bottom: .5em;
  }
}

@media (max-width: 720px) {
  .home h2 {
    text-align: left;
  }
}

@media (max-width: 640px) {
  .home h2 {
    margin-top: 2em;
  }
}

.home .section {
  margin-bottom: 64px;
}

.blurb {
  font-size: 24px;
  line-height: 150%;
}

.connect {
  font-size: 24px;
  line-height: 150%;
}

.home .work {
  margin: 0 -2%;
}

.work-listing {
  
}

  .work-listing a {
    display: block;
    border: 0;
    margin-bottom: 64px;
  }

    .work-listing a:hover h4 {
      color: #1585D7;
    }

    .work-listing a:hover p {
      color: #2D3748;
    }

  .work-listing img {
    width: 100%;
    margin-bottom: 8px;
  }

  .work-listing h4 {
    font-size: 24px;
    font-weight: normal;
    line-height: 110%;
    color: #2D3748;
    margin: 0 0 8px;
  }

  .work-listing p {
    color: #718096;
  }

body.work {
  font-size: 18px;
  padding-top: 128px;
}

@media (max-width: 640px) {
  body.work {
    padding-top: 5em;
  }
}

body.work h1 {
  margin: 0;
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  body.work h1 {
    font-size: 36px;
  }
}

h2.client {
  font-size: 24px;
  font-weight: normal;
  color: #718096;
  margin: 0 0 32px;
}

@media (max-width: 640px) {
  .client {
    margin-top: .5em;
  }
}

.role {
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
  color: #2D3748;
  margin: 0;
}

.back {
  margin-top: 2em;
  border-top: 1px solid #718096;
}

.back a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 64px;
  padding: 16px 0 0;
}

/* Footer */

footer {
  color: #F9FAFC;
  padding: 5em 0 5em;
  background: #2D3748;
}

footer a {
  border-bottom: 1px solid#1a7ec5;
}

footer a:link,
footer a:visited {
  color: #F9FAFC;
}

footer a:hover {
  color: #1585D7;
  border: 0;
}

.home footer .container {
  margin-top: 0;
}

footer .blurb {
  line-height: 125%;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 2em;
}